@import "tailwindcss";

body {
  background-color: #1a1a1a;
  color: #f3f4f6;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #2d2d2d;
}

::-webkit-scrollbar-thumb {
  background-color: #8B7355;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #A38A70;
}
